<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <h5>SoftWise Academy</h5>
          <p>Codificando el futuro, un proyecto a la vez.</p>
          <p>SoftWise Academy fue fundada por Andrango Fernando, con la visión de crear un espacio donde el aprendizaje del software sea accesible, práctico y orientado al mercado laboral.</p>
        </div>
        <div class="col-lg-4 col-md-6">
          <h5>Contacto</h5>
          <p>Contacto: <a href="mailto:info@voustiles.com">info VouStiles.com</a></p>
          <p>Síguenos:
            <a href="https://facebook.com" target="_blank">Facebook</a> |
            <a href="https://instagram.com" target="_blank">Instagram</a> |
            <a href="https://twitter.com" target="_blank">Twitter</a>
          </p>
        </div>
        <div class="col-lg-4">
          <h5>Enlaces Rápidos</h5>
          <ul>
            <li><a href="/politica-privacidad">Política de privacidad</a></li>
            <li><a href="/terminos-condiciones">Términos y condiciones</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>