.header {
    display: flex;
    justify-content: center; /* Centra el nav en el contenedor */
  }
  
  .nav {
    display: flex;
    justify-content: center; /* Centra los items del nav horizontalmente */
    align-items: center;
  }
  
  .nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav li {
    position: relative;
  }
  
  .nav a {
    white-space: nowrap;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav li:hover a {
    color: #184867;
  }
  
  .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #184867;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-link:hover::before {
    visibility: visible;
    width: 100%;
  }
  