
<form 
    [formGroup]="form" 
    class="d-flex text-center mx-auto align-items-stretch flex-column gap-3" 
    style="width: 40%;"
    (ngSubmit)="id != 0 ? updateProduct() : addProduct()"
    >
    <div>
        <label for="title" class="form-label">Nombre del Producto</label>
        <input id="title" formControlName="title" class="form-control">
    </div>
    <div>
        <label for="description" class="form-label">Descripción</label>
        <textarea id="description" formControlName="description" class="form-control" rows="3"></textarea>
    </div>    
    <div>
        <label for="price" class="form-label">Precio</label>
        <input type="number" id="price" formControlName="price" class="form-control">
    </div>  
    <div>
        <label for="image" class="form-label">Imagen</label>
        <input type="url" id="image" formControlName="image" class="form-control">
    </div>  
    <button type="submit" class="btn btn-success">
        @if(id != 0){
            Actualizar
        } @else {
            Agregar
        }
    </button>    
</form>
