<div class="title">
    <h1>
        Mis Cursos
    </h1>
</div>

<!-- From Uiverse.io by codebykay101 --> 
<div class="container">
    <div class="logo">
        <img src="imagenes/logoA.png" alt="logo">
    
    </div>
    

    <div data-text="Sisacd" style="--r:-15;" class="glass">
        <img src="imagenes/gestion.png" alt="logo" width="50px" height="50px">
    </div>
    <div data-text="Books" style="--r:5;" class="glass">
        <img src="imagenes/libros.png" alt="logo" width="50px" height="50px">
    </div>
    <div data-text="Cursos" style="--r:25;" class="glass">
        <img src="imagenes/graduacion.png" alt="logo" width="50px" height="50px">
    </div>
  </div>


<div class="Container-cartas">
<!-- From Uiverse.io by SouravBandyopadhyay --> 
<div class="notification">
    <div class="notiglow"></div>
    <div class="notiborderglow"></div>
    <div class="notititle">Misión</div>
    <div class="notibody">En SoftWise Academy, nuestra misión es formar profesionales altamente capacitados en el desarrollo de software, brindando educación de calidad basada en metodologías innovadoras y un enfoque práctico. Nos comprometemos a proporcionar un ambiente de aprendizaje dinámico donde los estudiantes adquieran habilidades técnicas y competencias clave para enfrentar los desafíos de la industria tecnológica.</div>
    <div class="notibody">A través de cursos actualizados, proyectos reales y mentoría personalizada, buscamos impulsar el crecimiento profesional de cada alumno. Creemos en la educación accesible y en el poder del conocimiento para transformar vidas, fomentando el pensamiento crítico y la resolución de problemas en el mundo digital.</div>
  </div>

<!-- From Uiverse.io by SouravBandyopadhyay --> 
<div class="notification2">
    <div class="notiglow"></div>
    <div class="notiborderglow"></div>
    <div class="notititle">Visión</div>
    <div class="notibody">Aspiramos a ser una academia de referencia en educación tecnológica, reconocida por su excelencia en la formación de desarrolladores y especialistas en software. En un mundo donde la tecnología evoluciona constantemente, nuestro objetivo es mantenernos a la vanguardia, ofreciendo programas educativos alineados con las necesidades del mercado laboral y las tendencias emergentes.</div>
    <div class="notibody">Queremos ser un puente entre la teoría y la práctica, conectando a nuestros estudiantes con oportunidades reales en la industria y fomentando una comunidad de aprendizaje colaborativa. Nuestra visión es contribuir al desarrollo de una sociedad digital más innovadora, inclusiva y preparada para el futuro.</div>
  </div>
</div>
  <br>